@{
  Layout = "_Layout";
}
    <h1>CITY FILTER</h1>
    <p><a href="/">Click here to view Countries</a></p>
    <form class="button-form" method="post" action="/city/sort">
      <select name="sort-selection">
        <option value="Name">Name</option>
        <option value="CountryCode">Country Code</option>
        <option value="District">District/State</option>
        <option value="Population">Population</option>
      </select>

      <button type="submit" name="selection" value="ascending" class="btn btn-primary">Sort Ascending</button>
      <button type="submit" name="selection" value="descending" class="btn btn-primary">Sort Descending</button>
    </form>

    <div class="output">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country Code</th>
            <th>District/State</th>
            <th>Population</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var city in Model)
          {
            <tr>
              <td class="col-sm-3">@city.GetName()</td>
              <td class="col-sm-3">@city.GetCountryCode()</td>
              <td class="col-sm-3">@city.GetDistrict()</td>
              <td class="col-sm-3">@city.GetPopulation()</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
